{% extends 'main_base.html' %}
{% load static %}

{% block subtitle %}
    Edit Source Reference
{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <style>
        hr {
            max-width: 100% !important;
        }

        #addAuthor {
            margin-top: 10px;
        }
        .ui-state-default {
            padding: 10px; margin-right: 0; margin-left: 0;
        }
        .author-template {
            display: none;
        }
    </style>
{% endblock %}

{% block body_content %}
     <!-- Page Header -->
    <div class="body-container container">
        <div class="dashboard-title">
            <h2>Edit Source Reference</h2>
            <div class="dashboard-close" onclick="window.location.href='{% if past_url %}{{ past_url }}{% else %}/source-references/{% endif %}'"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="container" style="margin-top: 40px">

            <form enctype="multipart/form-data" name="source_reference_form" method="post">
                {% csrf_token %}
                {% for message in messages %}
                    {% if 'source-reference-data-type' in message.tags %}
                        <div class="alert {% if message.level_tag == 'error' %}alert-danger{% else %}alert-success{% endif %}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" name="reference_type" value="{{ object.reference_type }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <textarea name="title" id="title" class="form-control">{% if object.is_unpublished %}{{ object.note }}{% else %}{{ object.title }}{% endif %}</textarea>
                    </div>
                </div>
                {% if object.is_unpublished or object.is_database %}
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Source Name</label>
                        <div class="col-sm-10">
                            <textarea name="source_name" id="source_name" class="form-control">{{ object.source_name }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Author(s)</label>
                        <div class="col-sm-10">
                            <div class="author-group" id="sortable">
                            {% for sra in object.author_list %}
                                <div class="ui-state-default row">
                                    <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></span>
                                    <div class="col-10" style="padding-left: 10px">
                                        {% if sra.author.user %}
                                            <input
                                                   data-index="{{ forloop.counter0 }}"
                                                   onClick="this.setSelectionRange(0, this.value.length)"
                                                   class="form-control authors"
                                                   value="{{ sra.author.user.first_name }} {{ sra.author.user.last_name }}"
                                                   placeholder="Search for a user">
                                            <input name="author_id_{{ forloop.counter0 }}" class="author-id" type="hidden" value="{{ sra.author.user.id }}">
                                        {% else %}
                                            <input
                                                   data-index="{{ forloop.counter0 }}"
                                                   name="author_{{ forloop.counter0 }}"
                                                   onClick="this.setSelectionRange(0, this.value.length)"
                                                   class="form-control authors"
                                                   value="{{ sra.author.first_name }} {{ sra.author.last_name }}"
                                                   placeholder="Search for a user">
                                        {% endif %}
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-danger deleteAuthor">Delete</button>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="ui-state-default row">
                                    <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></span>
                                    <div class="col-10" style="padding-left: 10px">
                                        <input
                                               data-index="0"
                                               name="author_0"
                                               onClick="this.setSelectionRange(0, this.value.length)"
                                               class="form-control authors"
                                               value=""
                                               placeholder="Author's name: [First name] [Space] [Last name]">
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-danger deleteAuthor">Delete</button>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <button type="button" class="btn btn-default" id="addAuthor">Add new author</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source_date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="source_date" id="source_date" class="form-control" value="{% if object.source_date %}{{ object.source_date|date:'Y-m-d' }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if object.is_bibliography %}
                    <div class="form-group row">
                        <label for="doi" class="col-sm-2 col-form-label">DOI</label>
                        <div class="col-sm-10">
                            <input name="doi" id="doi" class="form-control" value="{{ object.source.doi }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doi" class="col-sm-2 col-form-label">URL</label>
                        <div class="col-sm-10">
                            <input name="url" id="url" class="form-control" value="{{ object.source.url }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source_id" class="col-sm-2 col-form-label">Source</label>
                        <div class="col-sm-10">
                            <input name="source" id="source" class="form-control" value="{% if object.source.journal %}{{ object.source.journal }}{% endif %}"/>
                            {% if object.source.journal %}
                            <input type="hidden" name="source_id" id="source_id" class="form-control" value="{{ object.source.journal.id }}"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-sm-2 col-form-label">Upload a PDF</label>
                        <div class="col-sm-10">
                            {% if object.document %}
                                <div id="biblioDocumentContainer">
                                    <a href="/documents/{{ object.document.id }}/download">{{ object.document.name }}</a>
                                    <span class="btn btn-danger" id="removeDocument">Remove</span>
                                </div>
                            {% endif %}
                            <input type="hidden" id="pdf_file_id" name="pdf_file_id" value="{{ object.document.id }}">
                            <input type="file" name="pdf_file" id="biblio_pdf" class="form-control" value="" accept="application/pdf"/>
                        </div>
                    </div>
                {% endif %}
                {% if object.is_published_report %}
                    <div class="form-group row">
                        <label for="source_id" class="col-sm-2 col-form-label">Source</label>
                        <div class="col-sm-10">
                            <input name="source" id="source" class="form-control" value="{{ source_name }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-sm-2 col-form-label">Document</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                       name="doc_type" id="doc_url"
                                       value="doc_url" {% if object.source.doc_url %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="doc_url">
                                    Provide url
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio"
                                       name="doc_type" id="doc_file"
                                       value="doc_file" onchange="" {% if object.source.doc_file %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="doc_file">
                                    Upload a file
                                </label>
                            </div>
                            <div class="form-control doc_type_input" id="doc_url_input" style="{% if object.source.doc_file %}display: none{% endif %}">
                                <div class="row">
                                    <label for="file" class="col-1 col-form-label">Url</label>
                                    <input name="doc_url" id="doc_url" class="form-control col-11" value="{% if object.source.doc_url %}{{ object.source.doc_url }}{% else %}{% endif %}" style="margin-left: -10px"/>
                                </div>
                            </div>
                            <div class="form-control doc_type_input" id="doc_file_input" style="{% if object.source.doc_url %}display: none{% endif %}">
                                <div class="row">
                                    <label for="file" class="col-1 col-form-label">File</label>
                                    <input type="file" name="doc_file" id="doc_file" class="form-control col-11" value="" style="margin-left: -10px"/>
                                </div>
                                {% if object.source.doc_file %}
                                    <div style="margin-top: 20px">Current file : </div>
                                    <p><a href="{{ object.source.doc_file.url }}">{{ object.source.doc_file }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group row">
                    <label for="metadata_file" class="col-sm-2 col-form-label">Metadata file</label>
                    <div class="col-sm-10">
                        {% if object.metadata_file %}
                            <div class="alert alert-light">
                                <p>
                                    Current file:
                                    <a href="{{ object.metadata_file.url }}" target="_blank">
                                        {{ object.metadata_file.name|default:"Download metadata" }}
                                    </a>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1"
                                           id="remove_metadata_file" name="remove_metadata_file">
                                    <label class="form-check-label" for="remove_metadata_file">
                                        Remove existing metadata file
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        <input type="file" name="metadata_file" id="metadata_file" class="form-control"
                               accept=".pdf,.doc,.docx,.txt"/>
                        <small class="form-text text-muted">
                            Upload a PDF or Word document describing the metadata for this source reference.
                        </small>
                    </div>
                </div>
                {% if object.is_published_report or object.is_bibliography %}
                <div class="form-group row">
                    <label for="year" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input type="number" name="year" id="year" class="form-control" value="{{ object.year }}"/>
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="notes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                        <input type="text" name="notes" id="notes" class="form-control" value="{% if object.note %}{{ object.note }}{% endif %}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="authors" class="col-sm-2 col-form-label">Author(s)</label>
                    <div class="col-sm-10">
                        <div class="author-group" id="sortable">
                        {% for author in object.author_list %}
                            <div class="ui-state-default row">
                                <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></span>
                                <div class="col-10" style="padding-left: 10px">
                                    <input
                                           data-index="{{ forloop.counter0 }}"
                                           onClick="this.setSelectionRange(0, this.value.length)" class="form-control authors"
                                           value="{{ author.first_name }} {{ author.last_name }}" placeholder="Author's name with following format: [First name] [Space] [Last name]">
                                    <input name="author_id_{{ forloop.counter0 }}" class="author-id" type="hidden" value="{{ author.id }}">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-danger deleteAuthor">Delete</button>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <button type="button" class="btn btn-default" id="addAuthor">Add new author</button>
                    </div>
                </div>
                {% endif %}
                {% if can_update_data_type and total_records %}
                <div id="update-data-type"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Data type</label>
                    <div class="col-sm-10">
                        <small class="form-text text-muted" style="margin-bottom: 10px">
                            Change the data sharing level of the {{ total_records }} occurrence record{{ total_records|pluralize }}
                            linked to this source reference. Between the embargo start and end dates the records are only
                            visible to their owner; after the end date they follow the new data type (e.g. Public).
                            Leave the start date empty to start the embargo immediately.
                        </small>
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="current_data_type" class="small mb-1">Current data type</label>
                                <select name="current_data_type" id="current_data_type" class="form-control data-type-filter">
                                    <option value="">Any</option>
                                    {% for value, label in data_type_choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                    <option value="unspecified">Unspecified</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="new_data_type" class="small mb-1">New data type</label>
                                <select name="new_data_type" id="new_data_type" class="form-control">
                                    <option value="">Keep unchanged</option>
                                    {% for value, label in data_type_choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="embargo_start_date" class="small mb-1">Embargo start date</label>
                                <input type="text" name="embargo_start_date" id="embargo_start_date" class="form-control embargo-date"
                                       placeholder="DD/MM/YYYY" autocomplete="off">
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="embargo_end_date" class="small mb-1">Embargo end date</label>
                                <input type="text" name="embargo_end_date" id="embargo_end_date" class="form-control embargo-date"
                                       placeholder="DD/MM/YYYY" autocomplete="off">
                                <small class="form-text text-muted">Required when a start date is set.</small>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="remove_embargo" name="remove_embargo">
                            <label class="form-check-label" for="remove_embargo">Remove existing embargo</label>
                        </div>
                        <small class="form-text text-muted">Matching records: <span id="data-type-summary">-</span></small>
                    </div>
                </div>
                {% endif %}
                <div style="height: 20px"></div>
                <div class="row" style="text-align: center">
                    <input style="margin-left: auto; margin-right: auto; width: 150px;" class="btn btn-primary" type="submit" value="Save">
                </div>
            </form>

        </div>
    </div>

    <div class="ui-state-default row author-template">
        <span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></span>
        <div class="col-10" style="padding-left: 10px">
            <input onClick="this.setSelectionRange(0, this.value.length)" type="text" class="form-control authors" value=""
                   placeholder="Author's name with following format: [First name] [Space] [Last name]"
                   name="">
        </div>
        <div class="col-1">
            <button class="btn btn-danger deleteAuthor">Delete
            </button>
        </div>
    </div>

    <script>
        let $addAuthorBtn = $('#addAuthor');
        let $deleteAuthorBtn = $('.deleteAuthor');
        let prev = null;

        $('#removeDocument').click(function(e) {
          e.preventDefault();
          $('#biblioDocumentContainer').remove();
          document.getElementById("pdf_file_id").value = "";
        });

        $(function () {
            const rad = document.source_reference_form.doc_type;
            if (rad && rad.length) {
                for (let i = 0; i < rad.length; i++) {
                    rad[i].addEventListener('change', function () {
                        if (this !== prev) {
                            prev = this;
                        }
                        $(`.doc_type_input`).hide();
                        $(`#${this.value}_input`).show();
                    });
                }
            }
            $("#sortable").sortable({
                stop: function( event, ui ) {
                    let authors = $(event.target).find('.authors');
                    for (let index = 0; index < authors.length; index++) {
                        const $author = $(authors[index]);
                        $author.attr('data-index', index);
                        if ($author.attr('name')) {
                            $author.attr('name', `author_${index}`)
                        } else {
                            $author.parent().find('.author-id').attr('name', `author_id_${index}`)
                        }
                    }
                }
            });
            $("#sortable").disableSelection();
        });
        function applyAuthorAutocomplete($input) {
            $input.autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/user-autocomplete/?term=' + encodeURIComponent(request.term),
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.first_name + ' ' + item.last_name,
                                    value: item.id
                                }
                            }));
                        }
                    });
                },
                minLength: 3,
                open: function (event, ui) {
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                },
                change: function (event, ui) {
                    const $inp = $(event.target);
                    const index = $inp.data('index');
                    const $hiddenId = $inp.parent().find(`[name="author_id_${index}"]`);
                    if (ui.item) {
                        $hiddenId.val(ui.item.value);
                    } else {
                        // Keep typed text as a name-only author; clear any stale user id
                        $hiddenId.val('');
                        if (!$inp.attr('name')) {
                            $inp.attr('name', `author_${index}`);
                        }
                    }
                },
                select: function (e, u) {
                    e.preventDefault();
                    const $inp = $(e.target);
                    const index = $inp.data('index');
                    $inp.val(u.item.label);
                    let $hiddenId = $inp.parent().find(`[name="author_id_${index}"]`);
                    if ($hiddenId.length === 0) {
                        $inp.after(`<input name="author_id_${index}" type="hidden" class="author-id" value="">`);
                        $hiddenId = $inp.parent().find(`[name="author_id_${index}"]`);
                        $inp.removeAttr('name');
                    }
                    $hiddenId.val(u.item.value);
                }
            });
        }

        $('.author-group .authors').each(function () {
            applyAuthorAutocomplete($(this));
        });

        $addAuthorBtn.click(function (e) {
            e.preventDefault();
            let $template = $('.author-template');
            let authors = $('.author-group').find('.authors');
            let newInput = $template.clone();
            newInput.show();
            newInput.removeClass('author-template');
            newInput.find('input').attr('name', 'author_' + authors.length);
            newInput.find('input').attr('data-index', authors.length);
            newInput.find('input').val('');
            $('.author-group').append(newInput);
            const $newAuthorInput = newInput.find('input');
            applyAuthorAutocomplete($newAuthorInput);
            $newAuthorInput.focus();
        });
        $(document).on('click', '.deleteAuthor', function (e) {
            e.preventDefault();
            $(e.target).closest('.ui-state-default').remove();
        });

    </script>
    {% if can_update_data_type and total_records %}
    <script>
        (function () {
            const summaryUrl = '/api/data-type-summary-by-source-reference-id/{{ object.id }}/';
            const dataTypeLabels = {
                {% for value, label in data_type_choices %}'{{ value }}': '{{ label }}',{% endfor %}
                'unspecified': 'Unspecified'
            };
            const $summary = $('#data-type-summary');
            let previewRequest = null;
            let matchingTotal = 0;
            let matchingByType = {};

            function dataTypeFilters() {
                return {current_data_type: $('#current_data_type').val()};
            }

            function refreshDataTypeSummary() {
                if (previewRequest) {
                    previewRequest.abort();
                }
                $summary.text('Loading...');
                previewRequest = $.ajax({
                    url: summaryUrl,
                    type: 'GET',
                    data: dataTypeFilters(),
                    success: function (res) {
                        matchingTotal = res.total;
                        matchingByType = res.data_types;
                        const parts = Object.keys(res.data_types)
                            .filter(key => res.data_types[key] > 0)
                            .map(key => `${dataTypeLabels[key] || key}: ${res.data_types[key]}`);
                        if (res.under_embargo > 0) {
                            parts.push(`currently under embargo: ${res.under_embargo}`);
                        }
                        $summary.text(`${res.total}` + (parts.length ? ` (${parts.join(', ')})` : ''));
                    },
                    error: function (xhr, textStatus) {
                        if (textStatus === 'abort') return;
                        matchingTotal = 0;
                        matchingByType = {};
                        $summary.text((xhr.responseJSON && xhr.responseJSON.message) || `Could not load matching records (HTTP ${xhr.status}).`);
                    }
                });
            }

            $('.data-type-filter').on('change', refreshDataTypeSummary);
            refreshDataTypeSummary();

            // Parse a DD/MM/YYYY string, returns null when it is invalid
            function parseDate(value) {
                const match = /^(\d{2})\/(\d{2})\/(\d{4})$/.exec(value);
                if (!match) return null;
                const date = new Date(+match[3], +match[2] - 1, +match[1]);
                return date.getDate() === +match[1] && date.getMonth() === +match[2] - 1 ? date : null;
            }

            $('.embargo-date').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });
            $('#embargo_start_date').datepicker('option', 'minDate', 0);

            // Keep the end date picker after the start date (or today)
            function updateEmbargoEndMin() {
                const next = parseDate($('#embargo_start_date').val()) || new Date();
                next.setDate(next.getDate() + 1);
                $('#embargo_end_date').datepicker('option', 'minDate', next);
            }
            $('#embargo_start_date').on('change', updateEmbargoEndMin);
            updateEmbargoEndMin();

            $('#remove_embargo').on('change', function () {
                $('.embargo-date').prop('disabled', this.checked);
            });

            $('form[name="source_reference_form"]').on('submit', function (e) {
                const newDataType = $('#new_data_type').val();
                const removeEmbargo = $('#remove_embargo').is(':checked');
                const startDate = removeEmbargo ? '' : $('#embargo_start_date').val().trim();
                const endDate = removeEmbargo ? '' : $('#embargo_end_date').val().trim();
                if (!newDataType && !removeEmbargo && !startDate && !endDate) {
                    return;
                }
                const start = parseDate(startDate);
                const end = parseDate(endDate);
                if ((startDate && !start) || (endDate && !end)) {
                    e.preventDefault();
                    alert('Embargo dates must use the DD/MM/YYYY format.');
                    return;
                }
                if (start && !end) {
                    e.preventDefault();
                    alert('Please set the embargo end date.');
                    return;
                }
                const today = new Date();
                today.setHours(0, 0, 0, 0);
                if (start && start < today) {
                    e.preventDefault();
                    alert('Embargo start date must be today or in the future.');
                    return;
                }
                if (end && end <= (start || today)) {
                    e.preventDefault();
                    alert(start
                        ? 'Embargo end date must be after the start date.'
                        : 'Embargo end date must be after today.');
                    return;
                }
                const changes = [];
                if (newDataType) {
                    // Records without a data type are already treated as public
                    let toChange = matchingTotal - (matchingByType[newDataType] || 0);
                    if (newDataType === 'public') {
                        toChange -= (matchingByType.unspecified || 0);
                    }
                    changes.push(`set the data type of ${toChange} record(s) to "${dataTypeLabels[newDataType]}"`);
                }
                if (removeEmbargo) {
                    changes.push(`remove the embargo from ${matchingTotal} record(s)`);
                } else if (endDate) {
                    changes.push(`set an embargo on ${matchingTotal} record(s) ${startDate ? 'from ' + startDate : 'from today'} until ${endDate} (hidden from everyone but the owner)`);
                }
                const message = changes.join(' and ');
                if (!confirm(message.charAt(0).toUpperCase() + message.slice(1) + '?')) {
                    e.preventDefault();
                }
            });
        })();
    </script>
    {% endif %}
    {% include 'footer.html' %}
{% endblock %}
